<div class="row">
    <div class="col-md-12 text-center">
        <hr />
        @Html.ActionLink("สั่งสินค้า", "MakeOrder", "OrderPage", new { area = "" }, null)
        <hr />
        @Html.ActionLink("พิมพ์", "PrintOrder", "OrderPage", new { area = "" }, null)
        <hr />
        @Html.ActionLink("สินค้า", "Products", "ProductPage", new { area = "" }, null)
        <hr />
        @Html.ActionLink("ลูกค้า", "MasterData", "Admin", new { id = "Customer", area = "" }, null)
        <hr />
        @Html.ActionLink("รายการสั่งประจำ", "MasterData", "Admin", new { id = "OrderTemplate", area = "" }, null)
        <hr />
        @Html.ActionLink("สินค้าในรายการสั่งประจำ", "MasterData", "Admin", new { id = "OrderTemplateDetail", area = "" }, null)
        <hr />
        @Html.ActionLink("ผูกลูกค้ากับรายการสั่งประจำ", "MasterData", "Admin", new { id="CustomerOrderTemplate", area = "" }, null)
        <hr />
    </div>
</div>
